flows/AppCatalogNotification/Microsoft.Flow/flows/4efd8f98-ee82-4f1e-a63f-b1e37f70486a/definition.json
{"name":"0d943fa4-21a8-4629-a1d8-bf29969536a5","id":"/providers/Microsoft.Flow/flows/0d943fa4-21a8-4629-a1d8-bf29969536a5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SPFx App Catalog Notification","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4af50d87-e728-484e-874c-3f4536b38fee","type":"User","tenantId":"aecb54e0-7430-409d-86a4-7639c743eee7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-11-14T23:32:10.0825517Z","connectionKeySavedTimeKey":"2025-11-14T23:32:10.0825517Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/appcatalog","table":"Developer Apps"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@contains(createArray('New', 'Pending Sponsor Approval', 'In Testing', 'Pending Review', 'Pending Final Approval', 'Approved', 'Deployed'), triggerOutputs()?['body/AppStatus/Value'])"}]}},"actions":{"App_Url":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"AppUrl","type":"string","value":"https://dattaspo.sharepoint.com/sites/demo/appcatalog/sitepages/app-catalog.aspx?app-id=@{triggerBody()?['ID']}"}]}},"App_Sponsor":{"runAfter":{"App_Url":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AppSponsor","type":"string","value":"@triggerBody()?['AppSponsor/Email']"}]}},"App_Developers":{"runAfter":{"App_Sponsor":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AppDevelopers","type":"array"}]}},"App_Developer_Loop":{"foreach":"@triggerBody()?['AppDevelopers']","actions":{"Add_Developer_Email":{"type":"AppendToArrayVariable","inputs":{"name":"AppDevelopers","value":"@items('App_Developer_Loop')['Email']"}}},"runAfter":{"App_Developers":["Succeeded"]},"type":"Foreach"},"Approvers":{"runAfter":{"App_Developer_Loop":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Approvers","type":"array"}]}},"Get_Approvers":{"runAfter":{"Approvers":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo","parameters/method":"GET","parameters/uri":"_api/web/SiteGroups/getByName('App Approvers')?$expand=Users"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"Approver_Loop":{"foreach":"@body('Get_Approvers')['d']['Users']['results']","actions":{"Add_Approver_Email":{"type":"AppendToArrayVariable","inputs":{"name":"AppDevelopers","value":"@items('Approver_Loop')['Email']"}}},"runAfter":{"Get_Approvers":["Succeeded"]},"type":"Foreach"},"Final_Approvers":{"runAfter":{"Approver_Loop":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FinalApprovers","type":"array"}]}},"Get_Final_Approvers":{"runAfter":{"Final_Approvers":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo","parameters/method":"GET","parameters/uri":"_api/web/SiteGroups/getByName('App Final Approvers')?$expand=Users"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"Final_Approver_Loop":{"foreach":"@body('Get_Final_Approvers')['d']['Users']['results']","actions":{"Add_Final_Approver_Email":{"type":"AppendToArrayVariable","inputs":{"name":"AppDevelopers","value":"@items('Final_Approver_Loop')"}}},"runAfter":{"Get_Final_Approvers":["Succeeded"]},"type":"Foreach"},"App_State":{"runAfter":{"Final_Approver_Loop":["Succeeded"]},"cases":{"Pending_Sponsor_Approval":{"case":"Pending Sponsor Approval","actions":{"Email_Sponsor":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@variables('AppSponsor')","emailMessage/Subject":"App Requested","emailMessage/Body":"<p class=\"editor-paragraph\">@{triggerBody()?['AppSponsor/DisplayName']},</p><br><p class=\"editor-paragraph\">An application was submitted and assigned to you as its sponsor. Please click on the link below to approve this application.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">App Title: </strong></b>@{triggerBody()?['Title']}<br><b><strong class=\"editor-text-bold\">App Url: </strong></b><a href=\"@{variables('AppUrl')}\" class=\"editor-link\">View App</a></p><br><p class=\"editor-paragraph\">SharePoint Team</p>","emailMessage/Cc":"@join(variables('AppDevelopers'), '; ')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"In_Testing":{"case":"In Testing","actions":{"Email_Developer":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@join(variables('AppDevelopers'), '; ')","emailMessage/Subject":"App Ready for Testing","emailMessage/Body":"<p class=\"editor-paragraph\">App Developers,</p><br><p class=\"editor-paragraph\">Your application was approved by your sponsor and is ready for testing. Please click on the link below to test your application and submit it for review.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">App Title: </strong></b>@{triggerBody()?['Title']}<br><b><strong class=\"editor-text-bold\">App Url: </strong></b><a href=\"@{variables('AppUrl')}\" class=\"editor-link\">View App</a></p><br><p class=\"editor-paragraph\">SharePoint Team</p>","emailMessage/Cc":"@{variables('AppSponsor')}; @{join(variables('Approvers'), '; ')}","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"Pending_Review":{"case":"Pending Review","actions":{"Email_Approvers":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@join(variables('Approvers'), '; ')","emailMessage/Subject":"App Ready for Review","emailMessage/Body":"<p class=\"editor-paragraph\">App Approvers,</p><br><p class=\"editor-paragraph\">The application testing was completed and is awaiting your technical review. Please click on the link below to review this request.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">App Title: </strong></b>@{triggerBody()?['Title']}<br><b><strong class=\"editor-text-bold\">App Url: </strong></b><a href=\"@{variables('AppUrl')}\" class=\"editor-link\">View App</a></p><br><p class=\"editor-paragraph\">SharePoint Team</p>","emailMessage/Cc":"@join(variables('AppDevelopers'), '; ')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"Pending_Final_Approval":{"case":"Pending Final Approval","actions":{"Email_Final_Approvers":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@join(variables('FinalApprovers'), '; ')","emailMessage/Subject":"App Pending Final Approval","emailMessage/Body":"<p class=\"editor-paragraph\">Final Approvers,</p><br><p class=\"editor-paragraph\">The technical review of the application has completed. The application is ready for your final approval before it's deployed in the environment. Please click on the link below to approve this application.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">App Title: </strong></b>@{triggerBody()?['Title']}<br><b><strong class=\"editor-text-bold\">App Url: </strong></b><a href=\"@{variables('AppUrl')}\" class=\"editor-link\">View App</a></p><br><p class=\"editor-paragraph\">SharePoint Team</p>","emailMessage/Cc":"@join(variables('Approvers'), '; ')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"Approved":{"case":"Approved","actions":{"Tenant_Admin":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@join(variables('Approvers'), '; ')","emailMessage/Subject":"App Approved","emailMessage/Body":"<p class=\"editor-paragraph\">Tenant Admin,</p><br><p class=\"editor-paragraph\">An application has been approved for deployment in the tenant. Please click on the link below to deploy it.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">App Title: </strong></b>@{triggerBody()?['Title']}<br><b><strong class=\"editor-text-bold\">App Url: </strong></b><a href=\"@{variables('AppUrl')}\" class=\"editor-link\">View App</a></p><br><p class=\"editor-paragraph\">SharePoint Team</p>","emailMessage/Cc":"@join(variables('AppDevelopers'), '; ')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"Deployed":{"case":"Deployed","actions":{"Email_Everyone":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{variables('AppSponsor')}; @{join(variables('AppDevelopers'), '; ')}","emailMessage/Subject":"App Deployed","emailMessage/Body":"<p class=\"editor-paragraph\">App Team,</p><br><p class=\"editor-paragraph\">Congratulations, the application submitted was approved and deployed to the tenant.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">App Title: </strong></b>@{triggerBody()?['Title']}<br><b><strong class=\"editor-text-bold\">App Url: </strong></b><a href=\"@{variables('AppUrl')}\" class=\"editor-link\">View App</a></p><br><p class=\"editor-paragraph\">SharePoint Team</p>","emailMessage/Cc":"@{join(variables('FinalApprovers'), '; ')}; @{join(variables('Approvers'), '; ')}","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerBody()?['AppStatus/Value']","type":"Switch"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-66a6d844-5e1b-4fa5-a8f1-40d37f28a005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-0f5dbe87-55c2-42fe-acb8-a951635aebe6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}